$colorTheme: #e59f67;
$maxWidth: 600px;
$cartItems: 1;
$AccountPanel: 2;
$logo: 2;
$search: 2;
$ResponsiveSearch: 2;
$MenuResponsive: 2;
$ZoomItemsDetails: 2;
$ZoomIButton: 3;
$ResponsiveNavbar: 3;
/*==Z_INDEX==
--ITEM--
*/
